# The datasauRus

... is yet another dataset. It's a fun little dataset to compare the different graphs data with the same statiscal properties can have.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("https://raw.githubusercontent.com/mjochen/Beobank_course_material/main/Data_science/5%20Pandas%20introduction/Exercises/files/datasauRus.csv")  
    
df.head(10)

  dataset        x        y
0    dino  55.3846  97.1795
1    dino  51.5385  96.0256
2    dino  46.1538  94.4872
3    dino  42.8205  91.4103
4    dino  40.7692  88.3333
5    dino  38.7179  84.8718
6    dino  35.6410  79.8718
7    dino  33.0769  77.5641
8    dino  28.9744  74.4872
9    dino  26.1538  71.4103

First print the stats. Print the average of X and Y, the standard deviation of X and Y, and the correlation.

Remember to **group by** the dataset-field. Once the dataframe is grouped, select the correct column (X, Y or, for the correlation, X and Y). Then use the functions mean(), std() or corr()

This gives you five lists. Zip these together and print them in a for-list.

All numbers are pretty much the same. Now graph all these in scatterplots!

We'll give you this one.

In [ ]:
# plot groupby results on the same canvas 
fig, ax = plt.subplots(figsize=(8,6))

for n, grp in df.groupby('dataset'):
    ax.scatter(x = "x", y = "y", data=grp, label=n)
ax.legend(title="Label")

plt.show()

Not quite what we were after. Try to plot every group in a separate graph, all on the same canvas. There are 13 datasets.

* First use plt.subplots to create a canvas with 5 rows and 3 colums
* Next for-loop over the grouping of df on the dataset-field
* In every for-loop, add a scatterplot for the X and Y-data in the group.
    * Add it at the correct location. The following code is fun: <code>for i in range(15): print(i//3, i%3)</code>
    * You can get i by simply creating (and increasing a variable) or by enumerating the groupby
    * Try using <code>plt.cm.tab20</code> to give every graph another color!
* Delete the plots at positions 4,1 and 4,2 (13 is prime, after all)
* Show the plot

More information on this dataset:

* https://cran.microsoft.com/snapshot/2020-08-25/web/packages/datasauRus/vignettes/Datasaurus.html
* https://github.com/perlatex/R_for_Data_Science/blob/master/demo_data/datasaurus.csv